@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120, 3%, 99%;
    --foreground: 120, 33%, 1%;

    --search: 227, 30%, 79%;
    --search-foreground: 340, 35%, 23%;

    --card: 114, 36%, 93%;
    --card-foreground: 120, 33%, 1%;

    --popover: 105, 29%, 14%;
    --popover-foreground: 120, 33%, 1%;

    --primary: 227, 30%, 79%;
    --primary-foreground: 340, 35%, 23%;

    --secondary: 114, 36%, 93%;
    --secondary-foreground: 120, 33%, 1%;

    --muted: 114, 36%, 93%;
    --muted-foreground: 340, 35%, 23%;

    --accent: 349, 36%, 55%;
    --accent-foreground: 340, 35%, 23%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --border: 227, 30%, 79%;
    --input: 227, 30%, 79%;
    --ring: 340, 35%, 23%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 120, 33%, 1%;
    --foreground: 120, 3%, 99%;

    --createNovelForm: 227, 30%, 79%;
    --createNovelForm-foreground: 340, 35%, 23%;

    --search: 227, 30%, 79%;
    --search-foreground: 340, 35%, 23%;

    --card: 114, 36%, 83%;
    --card-foreground: 120, 33%, 1%;

    --popover: 105, 29%, 14%;
    --popover-foreground: 120, 33%, 1%;

    --primary: 227, 30%, 79%;
    --primary-foreground: 340, 35%, 23%;

    --secondary: 114, 36%, 93%;
    --secondary-foreground: 120, 33%, 1%;

    --muted: 114, 36%, 93%;
    --muted-foreground: 340, 35%, 23%;

    --accent: 349, 36%, 55%;
    --accent-foreground: 340, 35%, 23%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --border: 227, 30%, 79%;
    --input: 227, 30%, 79%;
    --ring: 340, 35%, 23%;
  }
}

/* animations */

.underline-animation::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.3s;
  position: relative;
  top: 3px;
}

.underline-animation:hover::after {
  width: 100%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
